@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding-top: 20px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(/assets/images/background-image.jpg);
    background-color: black;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; 
}


.container  {
    background-color: hsl(0, 0%, 100%, 0.8);
    border-radius: 10px;
    width: 30vw;
    max-width: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#question-container {
    padding: 4rem;
}

h2 {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    margin: 0;
}

#label-name {
    font-size: 0.8rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

.start-btn {
    background-color: #1d1e47;
    color: hsl(0, 0%, 100%, 0.8);
    border: none;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #010020;
}