/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

/* header */
h1 {
    text-align: center;
    color: #f8f7f7;
    font-size: 2.5rem;
    padding-top: 20px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../images/background-image.jpg);
    background-color: black;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; 
}

/* background for header to make it easier to read */
#capitals {
    margin: 20px auto;
    padding-bottom: 1px;
    width: 40vw;
    max-width: 80%;
    background-color: #1d1e47b8;
    border-radius: 10px;
}

/* container for the main content */
#container  {
    background-color: rgba(248,247,247, 0.8);
    border-radius: 10px;
    width: 35vw;
    max-width: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

p {
    padding: 0 30px;
}

#instructions {
    padding: 0 50px;
}

#question-container {
    padding: 4rem;
}

#input-box {
    padding-left: 30px;
}

/* question */
h2 {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    margin: 0;
}

#label-name {
    font-size: 0.8rem;
}

/* styles for the answers excluding the instructions bullet point list*/
ul:not(#instructions) {
    list-style-type: none;
    padding: 0;
}

ul li :not(#instructions) {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

/* button */
.start-btn {
    background-color: #1d1e47;
    color: hsl(0, 0%, 100%, 0.8);
    border: none;
    display: block;
    font-size: 1rem;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #010020;
}

/* Media queries */

/* iPad */
@media screen and (max-width: 900px) {
    #container {
        width: 60vw;
        background-color: rgba(248,247,247, 0.9);
    }
}

/* iPhone 12 Pro */
@media screen and (max-width: 500px) {
    #capitals {
        width: 65vw;
    }

    h1 {
        font-size: 2rem;
    }

    #container {
        width: 70vw;
        background-color: rgba(248,247,247, 0.8);
        font-size: 14px;
    }
}

/* iPhone 4 */
@media screen and (max-width: 350px) {
    #capitals {
        width: 50vw;
    }

    h1 {
        font-size: 1.4rem;
    }
}